body{
  color: #40514E;
  margin:0;
  text-align: center;
  font-family: Merriweather,serif;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}
a{
  color: #9370db;
  font-family: Montserrat,serif;
  margin: 10px 20px;
}
a:hover{
  color: #EAF6F6;
}

h1{
  color: #9370db;
  font-size: 5.625rem;
  margin:50px auto 0 auto;
  font-family: Sacramento,serif;
}
h2{
  color: #9370db;
  font-family: Montserrat,serif;
  font-size: 2.5rem;
  font-weight: lighter;
  padding: 10px;
}
h3{
  color: #9370db;
  font-family: Montserrat,serif;
  font-weight: bolder;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align:justify;
}
.top-container{
  background-color: #1F1D36;
  position: relative;
  padding-top: 100px;

}
.middle-container{
  margin: 100px 0;

}
.bottom-container{
  background-color: #1F1D36;
  padding: 50px 0 20px

}
.cloud2{
  position: absolute;
  left: 260px;
  bottom: 390px;
}
.cloud1{
  position: absolute;
  top: 40px;
  right:300px
}

.intro{
  width: 30%;
  margin: auto;
}
.skill-1{
  float: left;
  margin-right: 10%;

}
.skill-2{
  float: right;
  margin-left: 10%;

}
.skill-3{
  float: left;
  margin-right: 10%;

}
.contact-msg{
  width: 40%;
  margin: 5% auto 15%;
}

.btn {
  background: #9370db;
  background-image: -webkit-linear-gradient(top, #9370db, #9370db);
  background-image: -moz-linear-gradient(top, #9370db, #9370db);
  background-image: -ms-linear-gradient(top, #9370db, #9370db);
  background-image: -o-linear-gradient(top, #9370db, #9370db);
  background-image: linear-gradient(to bottom, #9370db, #9370db);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat,serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #5B4B8A;
  background-image: -webkit-linear-gradient(top, #5B4B8A, #5B4B8A);
  background-image: -moz-linear-gradient(top, #5B4B8A, #5B4B8A);
  background-image: -ms-linear-gradient(top, #5B4B8A, #5B4B8A);
  background-image: -o-linear-gradient(top, #5B4B8A, #5B4B8A);
  background-image: linear-gradient(to bottom, #5B4B8A, #5B4B8A);
  text-decoration: none;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
